@page
@model RazorFileUploads.Pages.Files.CreateModel
@{
    Layout = "_Layout";
}
<div class=" container  tetx-center justify-content-center align-items-center bg-light">
            <form method="post" enctype="multipart/form-data">
                <div>
                    <label asp-validation-summery="ModelOnly" class="text-danger"></label>
                </div>
                <div class="form-group">
                    <label asp-for="FileUploads.formFile" class="form-label"></label>
                    <input asp-for="FileUploads.formFile" class="form-control" type="file" multiple />
                    <span class="text-danger" asp-validation-for="FileUploads.formFile"></span>
                </div>
                <div class="form-group text-center py-4">
                    <input type="submit" value=" create" class="btn btn-outline-info" />
                </div>
                <div>@ViewData["message"]</div>

            </form>   
</div>
